#features{
    font-family: Arial;
    font-size: 2rem;
    font-weight: bold;
    word-wrap: break-word;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: solid;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover{
    background-color: black;
    color: white;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#result{
    margin: 25px;
}
